.container-info__perfil {
	max-height: 170px;
	max-width: 350px;
	background-color: white;
	display: flex;
	// padding: 2%;
	justify-content: center;
	margin: auto;
	border-radius: 25px;
}

.info-perfil {
	height: inherit;
	width: inherit;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	.container-info__perfil {
		height: 170px;
		width: 300px;
		margin: auto;
		height: 170px;
	}
}
